@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body{
  padding-top: 70px;
  position: relative;
  background-image: url("https://cloud.githubusercontent.com/assets/8481246/4016786/969121fa-2a38-11e4-9518-d41a41f672e1.jpg");
}

.well {
  height: 500px;
  padding-top: 40px;
  opacity: 0.10;
}
  

